.ButtonWithoutIcon {

  @include text-style-3-d-fonts-1920-body-medium;
  padding: calc(-1px + var(--space-3)) var(--space-3);
  color: var(--text-gray-900);
  background-color: var(--color-surface-gray-200);
  border: 1px solid var(--border-gray-400);
  border-radius: var(--border-space-2);
  cursor: pointer;

  transition: .25s ease-out;
  text-align: left;
  text-align: center;



  &--alert {
    background-color: var(--color-special-accent-sold-overlays-transparent-72);
    color: var(--text-gray-200);
    border-color: var(--border-accent-800);
  }

  &.active,
  &--secondary {
    background-color: var(--color-surface-brand-800);
    border-color: var(--border-brand-900);
    color: var(--text-gray-900);
  }

  &[disabled] {
    border-color: var(--border-gray-400);
    background-color: var(--color-surface-gray-200);
    color: var(--text-gray-600);
    pointer-events: none;
    cursor: not-allowed !important;
  }
}


@include onHover {

  .ButtonWithoutIcon:hover {
    border-color: var(--border-gray-400);
    background-color: var(--color-surface-gray-300);
  }

  .ButtonWithoutIcon--alert:hover {
    background-color: var(--color-surface-accent-800);
    border-color: var(--border-accent-800);
  }

  .ButtonWithoutIcon--secondary:hover {
    background-color: var(--color-surface-brand-700);
    border-color: var(--border-brand-800);
  }

  .ButtonWithoutIcon.active {
    background-color: var(--color-surface-brand-800);
    border-color: var(--border-brand-900);
    color: var(--text-gray-900);
  }
}