.vr-popup {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: var(--bg-overlay);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeInPopup .3s ease-in-out;
    &__content {
        width: calc(100% - var(--space-4));
        height: auto;
        position: relative;
        iframe {
            width: calc(100vw - var(--space-4));
            height: calc(100vh - var(--space-4));
        }
    }
    &__text-wrapper {
      position: absolute;
      left: 1px;
      top: 1px;
      background-color: var(--color-200-trancperent-88);
      border-radius: var(--border-space-2); 
      padding: var(--space-4); 
      max-width: 290px;
      &:empty {
        display: none;
      }
    }
    &__title {
      color: var(--text-gray-900);
      @include text-style-3-d-fonts-1920-h-2-semi-bold;
    }
    &__text {
      color: var(--text-gray-800);
      margin-top: var(--space-2);
      @include text-style-3-d-fonts-1920-body-medium;
    }
    &__close {
        position: absolute;
        right: 20px;
        top:  20px;
        width: 50px;
        height: 50px;
        cursor: pointer;
        z-index: 201;
        fill: var(--icon-gray-900);
        circle {
            fill: $title-dark;
            transition: .3s ease-in-out;
        }
        path {
            stroke: $wc;
            transition: .3s ease-in-out;
        }
        @media screen and (min-width: 1023px){
            &:hover circle {
                fill: $mc;
            }
            &:hover path {
                stroke: $wc;
            }
        }
    }
}


.mobile {
  .vr-popup {
      &__content {
          padding: 0;
          height: calc(var(--vh, 1vh) * 100);
      }
  }
}

