.s3d-popup-flyby {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: var(--space-2);
  width: 250px;
  margin-left: calc(var(--filter-width) - 3px);
  background: $wc;
  border-radius: var(--border-space-2);
  text-align: center;
  &__wrap {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 9999;
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.4s ease-in;
    &.s3d-active{
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
  }
  &__close {
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 24px;
    z-index: 2;
    transform: translate(0, 0);
    transform-origin: center;
    transition: transform 0.4s cubic-bezier(.14,1.12,.43,.55);
    pointer-events: painted;
    cursor: pointer;
    &:after, &:before {
      content: "";
      position: absolute;
      display: inline-block;
      transform-origin: center;
      top: 50%;
      left: 50%;
      width: 70%;
      height: 2px;
      background: var(--icon-gray-900);
      transition: background-color 0.4s cubic-bezier(.14,1.12,.43,.55);
    }
    &:after {
      transform: translate(-50%, -50%)rotate(45deg);
    }
    &:before {
      transform: translate(-50%, -50%)rotate(-45deg);
    }
    @media screen and (min-width: 1023px) {
      &:hover {
        transform: rotate(90deg);
        &:after, &:before {
          background: $title-dark;
        }
      }
    }
  }
  &__title {
    padding-left: var(--space-2);
    padding-right: var(--space-2);
    padding-top: var(--space-2);
    color: var(--text-gray-900)
  }
  &__text {
    margin: 10px 0 0;
    font-weight: 400;
    font-size: var(--font14);;
    line-height: 1.3em;
    color: var(--text-gray-800);
    margin-bottom: var(--space-4);
    padding-left: var(--space-2);
    padding-right: var(--space-2);
  }
  &__link {
    position: relative;
    font-family: $default-font;
    font-weight: 400;
    font-size: var(--font14);;
    line-height: 1em;
    color: $wc;
    height: 50px;
    border: none;
    border-radius: var(--border-space-2);
    background: $title-dark;
    margin-top: 25px;
    padding: 0;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;
    pointer-events: painted;
    cursor: pointer;
    transition: background-color 0.4s ease-in;

    @media screen and (min-width: 1023px) {
      &:hover {
        background: $title-dark;
      }
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-content: flex-end;
    align-items: flex-end;
    z-index: -1;
    &-all {
      height: 100%;
      width: calc(100% - var(--filter-width));
      background: rgba(42, 51, 65, 0.8);
    }

    &-active {
      height: 100%;
      width: var(--filter-width);
      background: rgba(42, 51, 65, 0.8);
    }
  }

  &__active {
    position: fixed;
    display: table;
    z-index: 10000;
    * {
      background: transparent!important;
    }
  }

  @media screen and (max-width: 1024px) {
    padding: 30px;
  }

  @media screen and (max-width: 680px) {
    position: absolute;
    max-width: 80%;
    left: 50%;
    margin: 0;
    transform: translateX(-50%);
    &__link {
      height: 40px;
    }
    &__bg-active {
      width: 0;
    }
  }
}
