.fs-preloader-before {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: $loader-bg;
  transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;
  z-index: 9000;
  pointer-events: none;
  color: $loader-text-color;
  gap: 16px;
  transition: .2s ease-in-out;

  &.preloader-active {
    visibility: visible;
    opacity: 1;
    transition: .2s ease-in-out;
  }

  &-background {
    position: absolute;
    width: 320px;
    height: 320px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: $loader-bg;
    // backdrop-filter: blur(1px);
    border-radius: 20px;
    display: none;
  }

  &-precent{
    position: relative;
    z-index: 1;
  }

  &-box {
    width: 50px;
    height: 50px;
    background: $loader-icon-color;
    border-radius: 3px;
  }
  
  &.preloader-active &-box {
    
    animation: fsAnimate 1.3s linear infinite;
  }

  &-shadow {
    width: 50px;
    height: 5px;
    background: $loader-icon-color;
    opacity: 0.1;
    border-radius: 50%;
    // animation: fsShadow 2s linear infinite;
  }

  &.preloader-active &-shadow {
    animation: fsShadow 2s linear infinite;
  }

  &-text-large {
    font-family: $default-font;
    font-size: 24px;
    line-height: 120%;
    max-width: 90%;
    text-align: center;
    text-transform: uppercase;
    color: $loader-text-color;
  }

  &-text-subtitle {
    color: $loader-text-color;
    text-align: center;
  }
  .fs-preloader-precent  {
    position: relative;
  }
}


.horizontal-mob-curtain {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: $wc;
  color: $bc;
  font-family: $default-font;
  font-size: 5vw;
  line-height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 500;
  text-align: center;

}
.mobile.landscape {
  .horizontal-mob-curtain {
    display: flex;
  }
}


// .fs-preloader-before {
//   background-color: transparent;
// }
.fs-preloader-precent,
.fs-preloader-before-precent__progress 
// .fs-preloader-before-text-subtitle,
// .fs-preloader-before-text-large,
// .fs-preloader-before-background 
{
  display: none;
} 
// .fs-preloader-before {
//   .fs-preloader-before-box {
//     position: absolute;
//     right: 30px;
//     bottom: 30px;
//   }
// }