.fs-preloader {
  background-color: $preloader-bg;
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: visible;
  opacity: 1;
  transition: all .5s ease-in-out;
  gap: 16px;

  &-logo {
    width: 170px;
    height: auto;
    animation: 3s ease-in-out loader infinite;

    @media screen and (max-width: 680px){
      width: 120px;
    }
  }

  &.loading {
    visibility: hidden;
    opacity: 0;
  }

  &.loading &-logo {
    animation: none;
  }
}


.rotate-screen-warning {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $wc;
  z-index: 10000;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  display: none;
  padding-inline: 20px;
  @at-root .mobile.landscape & {
    display: flex;
  }
  svg {
    max-height: 80%;
    margin: auto;
  }

  &__title {
    width: 100%;
    text-align: center;
    @include font-default;
    color: $bc;
  }
  &__arrow {
    -webkit-animation: hoyoverse_landscapeAni 1.5s ease infinite alternate;
    animation: hoyoverse_landscapeAni 1.5s ease infinite alternate;
    transform-origin: center;
    transform-box: fill-box;
  }
  @keyframes animName {
    0%{
        transform: rotate(0deg);
      }
  100%{
      transform: rotate(-360deg);
    }
  }
}

@-webkit-keyframes hoyoverse_landscapeAni{
  0% {
      -webkit-transform:rotate(-90deg);
  }
  30% {
      -webkit-transform:rotate(-90deg);
  }
  70%{
      -webkit-transform:rotate(0deg);
  }
  100% {
      -webkit-transform:rotate(0deg);
  }
}
@keyframes hoyoverse_landscapeAni{
  0% {
      transform:rotate(-90deg);
  }
  30% {
      transform:rotate(-90deg);
  }
  70%{
      transform:rotate(0deg);
  }
  100% {
      transform:rotate(0deg);
  }
}
