* {
  box-sizing: border-box;
}

html,
body,
.page__content,
.page__inner {
  height: calc(var(--vh, 1vh) * 100);
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html.mobile {

  body,
  .page__content,
  .page__inner {
    min-height: calc(var(--vh, 1vh) * 100);
  }
}

body {
  display: block;
  font-family: $default-font;
}

sup {
  font-size: 0.7em;
  line-height: 0.7em;
  transform: translateY(-30%);
  vertical-align: super;
}

.unselectable {
  -webkit-touch-callout: none;
  /*iOS Safari*/
  user-select: none;
  /*Chrome/Safari/Opera*/
}

.s3d {
  &-mobile {
    @at-root .tablet.portrait .s3d__wrap {
      overflow-x: auto;
      overflow-y: hidden;
      justify-content: flex-start;
      align-items: flex-start;
    }

    .s3d__wrap {
      overflow-x: auto;
      overflow-y: hidden;
      justify-content: flex-start;
      align-items: flex-start;
    }

    &-only:not(.rc) {
      display: none
    }

    @media screen and (max-width: 1024px) {
      .s3d__wrapper__flat {
        overflow: auto;
      }
    }
  }

  &__slideModule {
    z-index: 1;
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    @media screen and (max-width: 1024px) {
      // padding: 0 0 var(--controller-h);
    }
  }

  &__flyby-container {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 10;

    &.hide-svg {
      .s3d__svgWrap svg {
        opacity: 0;
      }
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 15%;
      // background: $header-before-bg;
      z-index: 101;
      pointer-events: none;
    }
  }

  &__wrap {
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

    // background: $bg-color;
    background-color: var(--color-surface-gray-200);
    // background-image: url("../../s3d/images/svg/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media screen and (max-width: 1024px) {
      // height: calc(100% - var(--controller-h));
    }

    &::-webkit-scrollbar {
      height: 2px;
      width: 2px;
    }

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: none;
      background: $wc;
    }

    &::-webkit-scrollbar-thumb {
      background: $title-dark;
      -webkit-box-shadow: none;
    }

    &::-webkit-scrollbar-thumb:window-inactive {
      background: $title-dark;
    }
  }

  &__clouds {
    position: absolute;
    z-index: 3;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    pointer-events: none;

    img {
      // width: 100%;
      // height: 100%;
      object-fit: cover;
      animation: move1 70s linear infinite;
      opacity: 0.35;
    }

    @keyframes move1 {
      from {
        transform: translateX(-100%);
      }

      to {
        transform: translateX(100%);
      }
    }

  }

  &-info {
    &__title {
      font-size: var(--font20);
      @include font-default;
      color: $title-dark;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: var(--info-offset-buttom);
    }

    &__table {
      width: 100%;

      tbody {
        width: 100%;
      }
    }

    &__row {
      display: flex;
      align-items: flex-end;
      font-size: var(--font14);
      @include font-default;
      color: $title-dark;
      margin-bottom: 8px;

      &:last-child {
        margin: 0;
      }

      @media screen and (min-width: 1025px) {
        position: relative;

        &:before {
          content: none;
          position: absolute;
          right: 0;
          bottom: 0;
          padding: 4px;
          background-color: #000;
          color: #fff;
          pointer-events: none;
          opacity: 0;
          transition: .25s ease-out;
          z-index: 10;
        }

        &:hover:before {
          opacity: 1;
        }
      }
    }

    &__name {
      display: flex;
      align-items: flex-end;
      flex-grow: 1;
      white-space: nowrap;

      &:after {
        content: "";
        display: flex;
        flex: 1 1 5%;
        margin: 0 0.5ch 0.4ch;
        border-bottom: 1px solid var(--color-surface-gray-400);
      }
    }

    &__value {
      white-space: nowrap;
      text-align: right;

      @media screen and (min-width: 1025px) {
        position: relative;
      }
    }
  }

  &-show {
    visibility: visible !important;
  }

  &-display {
    display: flex !important;
  }
}

.tippy-box {
  background: transparent;
  padding: 0;

  .tippy-content {
    padding: 0;
  }

  @media screen and (max-width: 1440px) {
    padding: 0 25px;
  }
}

.wrapper__first-info {
  z-index: 205;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
  visibility: hidden;
  background: rgba(20, 1, 1, .5);

  &.active {
    display: flex;
  }
}

.s3d__add-to-favourite {
  background: transparent;
  border: none;
  display: flex;

  align-items: center;
  justify-content: center;
  pointer-events: painted;
  cursor: pointer;
  transition: all .3s linear;
  border: 1px solid var(--border-gray-600-transparent-40);
  padding: var(--space-2);
  border-radius: var(--border-space-2);

  &.added-to-favourites {
    background: var(--color-surface-brand-800);
    border-color: var(--border-brand-800);

    svg {
      fill: var(--icon-gray-200);
      // stroke: $add-to-fav-stroke-active;
    }
  }

  @media screen and (min-width: 1023px) {
    &:hover {
      background: $add-to-fav-bg;

      svg {
        // stroke: $add-to-fav-stroke-hover;
        fill: $add-to-fav-fill-hover;
      }
    }
  }

  input {
    display: none;

    &:checked+svg {
      // fill: var(--icon-gray-200);
      // background-color: var(--color-surface-brand-900);
      // stroke: $add-to-fav-stroke-active;
    }

    &:not(checked)+svg {
      fill: var(--icon-gray-900);
      // stroke: $add-to-fav-stroke;
    }
  }

  svg {
    fill: var(--icon-gray-900);
    // stroke: $add-to-fav-stroke;
    width: auto;
    width: 24px;
    height: 24px;
    transition: all .3s ease-in-out;
  }
}

.pinch-zoom-container {
  width: 100%;
}


.tablet {
  .s3d__wrapper__flat {
    // height: calc(100vh - (var(--menu-h) / 2));
    // padding-bottom: var(--menu-h);
  }
}

.mobile {
  .s3d {
    &__slideModule {
      height: calc(var(--vh, 1vh) * 100);
    }
  }
}

.tablet.landscape {}


.mobile.landscape {
  .s3d__wrap {
    overflow-y: auto;
    overflow-x: hidden;
    overscroll-behavior: none;
    height: calc(var(--vh) * 100);
  }

  .s3d__favourite {
    --btn: 24px;
    --icon24: 14px;
  }

  .s3d__favourite-count {
    width: 14px;
    height: 14px;
    top: -5px;
    right: -5px;
    font-size: 8px;
  }

  .s3d__title {
    svg {
      height: 20px;
    }
  }
}

.js-s3d-flat__3d-tour:hover {
  cursor: pointer;
}

.mobile {
  .s3d {
    &__wrap {
      height: calc(var(--vh) * 100);
    }
  }

  .pinch-zoom-container {
    .s3d__wrap {
      // top: calc(var(--s3d-header) * -1 + 9px);
    }
  }
}