/*EDITABLE PART START*/
/*Accent*/
$color-accent-700: #FF2C45;
$color-accent-800: #E42858;
$color-accent-900: #CD1C49;
$color-gray-100: #FFFFFF;
$color-gray-200: #FAFBFE;
$color-special-200-transparent-88: rgba($color-gray-200, 0.88);
$color-surface-gray-200-transperent-88: rgba($color-gray-200, 0.88);
$color-gray-300: #ECF2F8;
$color-gray-400: #DBE4EC;
$color-gray-500: #D1D9E1;
$color-gray-600: #AEBECC;
$color-gray-600-transparent-40: rgba($color-gray-600, 0.4);
$color-gray-700: #6C7A88;
$color-gray-800: #4B545B;
$color-gray-900: #1A1E21;

$color-surface-gray-900-transperent-40: rgba($color-gray-900, 0.4);

$color-200-trancperent-88: #FAFBFEE0;
$color-900-trancperent-40: rgba($color-gray-900, 0.4);
$color-bg-overlays-transparent-80: rgba($color-gray-900, 0.8);
$color-brand-700: #00915c;
$color-brand-800: #10E698;
$color-brand-900: #00BC77;
$color-brand-hover-overlays-transparent-32: rgba($color-brand-800, 0.32);
$color-brand-hover-overlays-transparent-48: rgba($color-brand-800, 0.48);
$color-brand-active-element-transparent-72: rgba($color-brand-800, 0.72);

$hover-overlays-transparent-16: rgba($color-brand-800, 0.16);
$hover-overlays-transparent-32: rgba($color-brand-800, 0.32);
$hover-overlays-transparent-48: rgba($color-brand-800, 0.48);
$active-element-transparent-72: rgba($color-brand-800, 0.72);


$color-effect-900-transparent-24: #2023263D;
$color-effect-900-transparent-40: #20232666;
$color-semantic-success: #25B14C;
$color-semantic-warning: #F1B161;
$color-semantic-warning-transparent-16: rgba($color-semantic-warning, 0.16);
$color-semantic-info: #64A5F8;
$color-semantic-danger: #E7473A;

$shadow-gray-900-transparent-24: #2023263D;
$shadow-gray-900-transparent-40: #20232666;

$bg-overlay: #1a1d21cc;
$color-special-accent-reserved-overlays-transparent-16: #f1b06148;
$color-special-accent-reserved-overlays-transparent-72: #f1b06196;
$color-special-accent-sold-overlays-transparent-16: #E4285829;
$color-special-accent-sold-overlays-transparent-72: #E42858B8;



$border-space-0: 0px;
$border-space-025: 1px;
$border-space-05: 2px;
$border-space-1: 4px;
$border-space-2: 8px;
$border-space-3: 12px;
$border-space-4: 16px;
$border-space-5: 20px;
$border-space-6: 24px;
$border-space-8: 32px;
$border-space-10: 40px;
$border-space-12: 48px;
$border-space-16: 64px;
$border-space-20: 80px;
$border-space-24: 96px;
$border-space-28: 112px;
$border-space-32: 128px;

$space-0: 0px;
$space-025: 1px;
$space-05: 2px;
$space-1: 4px;
$space-2: 8px;
$space-3: 12px;
$space-4: 16px;
$space-5: 20px;
$space-6: 24px;
$space-8: 32px;
$space-10: 40px;
$space-12: 48px;
$space-16: 64px;
$space-20: 80px;
$space-24: 96px;
$space-28: 112px;
$space-32: 128px;

/*EDITABLE PART END*/