.tablet {
  .s3d-flat {
    display: flex;
    flex-direction: column;
    height: calc(var(--vh,1vh) * 100);
    overflow-y: auto;
    padding-top: calc(var(--s3d-header) + var(--space-4));
    padding-bottom: var(--mobile-controller-height);

    &__info-wrapper {
      column-count: 2;
      &>* {
        break-inside: avoid-column;
      }
    }

    &__floor-plan-container {
      grid-template-columns: max-content 1fr;
      gap: var(--space-2);
      .ButtonWithoutIcon {
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: var(--space-2);
      }
      grid-template-areas: 
        'floor floor'
        'title nav'
      ;
      &-nav {
        display: flex;
        margin: auto;
        &>:nth-child(n+2) {
          margin-top: 0;
          margin-left: var(--space-1);
        }
      }
    }

    &__gallery-container {
      overflow: hidden;
    }
    &__gallery-container-slide {
      padding-bottom: 52.5%;
    }
    &__explication-screen {
      grid-template-columns: 1fr;
      max-height: none;
      display: flex;
      align-items: center;
      align-content: center;
      flex-direction: column-reverse;
      height: auto;
      &-slider {
        width: 100%;
        margin-bottom: var(--space-2);
      }
      &-table {
        width: 320px;
        max-width: 320px;
        background-color: transparent;
        .s3d-ctr__menu-3d-btn-style {
          background-color: transparent;
        }
      }
    }

    &__content-wrapper {
      overflow: initial;
    }

    &__documentation-screen {
      grid-template-columns: 1fr;
      &-title {
        padding: 0;
        margin-bottom: var(--space-2);
      }
      .FlatDocCard {
        grid-column-start: 1;
        grid-column-end: 2;
      }
    }
    &__construction-progress-screen {
      &-title {
        padding: 0;
        margin-bottom: var(--space-3);
      }
      &-right {
        width: calc(100% - var(--offset) * 2);
        margin-top: var(--space-2);
        text-align: left;
        padding: var(--space-4);
      }
      &-slide {
        padding-bottom: 52.5%;
      }
      &-left {
        width: calc(100% - var(--offset) * 2);
      }
    }
    &__floor-info {
      width: 100%;
      height: 100%;
    }
    &__floor-info-wrapper {
      height: 50vh;
    }
  }

  
  .s3d__wrapper__flat {

  }
}


.tablet.landscape {
  .s3d-flat {
    &__info-wrapper {
      max-width: 50%;
    }
  }
}

