.SvgFloorPolygonTooltip-wrapper {
  transform: translateY(-100%) translateX(0%);
}

.SvgFloorPolygonTooltip {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    border-radius: 4px;
    border: 1px solid var(--border-gray-400);
    background-color: var(--color-surface-gray-200);
    @include text-style-3-d-fonts-1920-h-2-semi-bold;
    color: var(--text-gray-900);
    padding: var(--space-3);
    width: max-content;
  }
  &__description {
    background-color: var(--surface-gray-900);
    @include text-style-3-d-fonts-1920-body-medium;
    padding: var(--space-1);
    color: var(--text-gray-200);
    margin-top: var(--space-1);
    border-radius: var(--border-space-1);
    width: max-content;
  }
  &--active &__title {
    background-color: var(--surface-gray-900);
    border-color: var(--border-gray-900);
    color: var(--text-gray-200);
  }
}