.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;

  display: flex;
  align-items: center;

  padding: var(--space-4) var(--space-4) 0 var(--space-4);
  width: 100%;

  height: var(--s3d-header);

  &__left {
    display: flex;
    align-items: center;
  }

  &__right {
    display: flex;
    align-items: center;
    margin-left: auto;

    & > :nth-child(n + 2) {
      margin-left: var(--space-1);
    }
  }

  .lang-wrap {
    position: relative;
    width: 40px;
    height: 40px;
  }

  .language-list {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    // gap: 10px;
    // justify-content:center ;
    align-items: center;
    overflow: hidden;
    width: 40px;
    max-height: 40px;
    border-radius: var(--border-space-2);
    border: 1px solid var(--border-gray-400);
    background-color: var(--color-surface-gray-200);
    transition: max-height 0.3s ease-in-out;

    &:hover {
      max-height: 260px;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: var(--border-space-2);
      color: var(--text-gray-900);
      font-size: 13px;
      text-decoration: none;
      transition: background-color 0.3s ease-in-out;

      &:hover {
        background-color: var(--color-surface-gray-300);
      }
    }
  }
}

html[lang='en'] {
  .language-list li[data-lang='en'] {
    order: -1;
    pointer-events: none;

    a:hover {
      background-color: none;
    }
  }
}

html[lang='ru'] {
  .language-list li[data-lang='ru'] {
    order: -1;
    pointer-events: none;
  }
}

html[lang='zh'] {
  .language-list li[data-lang='zh'] {
    order: -1;
    pointer-events: none;
  }
}

html[lang='he'] {
  .language-list li[data-lang='he'] {
    order: -1;
    pointer-events: none;
  }
}

html[lang='vi'] {
  .language-list li[data-lang='vi'] {
    order: -1;
    pointer-events: none;
  }
}

.mobile {
  .header {
    [data-fullscreen-mode] {
      display: none;
    }

    padding: var(--space-2) var(--space-2) 0 var(--space-2);
  }

  .js-s3d-filter-open:not([data-type='plannings']) .header {
    opacity: 0;
    visibility: hidden;
  }
}
