.SvgFlybyTooltip {
  background-color: var(--color-surface-gray-200-transperent-88);
  padding: var(--space-2);
  border-radius: var(--border-space-2);
  // height: 75px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: var(--space-2);
  grid-template-areas:
    "title right"
    "bottom bottom";

  svg {
    width: 16px;
    height: 16px;
  }

  &__title {
    @include text-style-3-d-fonts-1920-h-2-semi-bold;
    color: var(--text-gray-900);
    border: 1px solid var(--border-brand-900);
    background-color: var(--color-surface-brand-800);
    border-radius: var(--border-space-1);
    padding: var(--space-1) var(--space-3);
    grid-area: title;
    height: max-content;
  }

  &__right {
    grid-area: right;
    @include text-style-3-d-fonts-1920-body-medium;

    &-item {
      white-space: nowrap;
    }
  }

  &__bottom {
    grid-area: bottom;
    display: flex;
    align-items: center;

    &-item {
      display: flex;
      align-items: center;
      column-gap: var(--space-1);
      font-weight: 700;
    }

    &-item~&-item {
      margin-left: var(--space-2);
    }
  }
}

.SvgFlybyTooltip-filter-part {
  background-color: var(--color-surface-semantic-success);
  color: var(--text-gray-200);
  padding: var(--space-2);
  border-radius: var(--border-space-2);
  width: max-content;
  margin-left: auto;
  margin-top: var(--space-05);
  @include text-style-3-d-fonts-1920-body-medium;
}