@import "./assets/vars";  // переменные
@import '../../s3d2/styles/assets/mixins';  // миксины
@import "../../s3d2/styles/globals/fonts";  // шрифты
// @import "./libs";
@import "../../s3d2/styles/globals/reset";  // сброс
//@import "./normalize";

@import "./pages/s3d-animations";

@import "./pages/s3d-filter";
@import "./pages/-s3d-filter-flat-list";
@import "./pages/-s3d-popup-flyby";
@import "./pages/s3d-helper";
@import "./pages/s3d-controller";
@import "./pages/s3d-infoBoxes";
@import "./pages/s3d-preloader";
@import "./pages/s3d-preloader-percent";
@import "./pages/-s3d-errorPopup";
@import "./pages/s3d-flat";
@import "./pages/tablet/tablet-s3d-flat";
@import "./pages/mobile/mobile-s3d-flat";
@import "./pages/s3d-floor";
@import "./pages/s3d-plannings";
@import "./pages/-s3d-svg";
@import "./pages/s3d-card";
@import "./pages/s3d";
@import "./pages/s3d-smarto-logo";
@import "./pages/s3d-header";
@import "./pages/s3d-header-menu";
@import "./pages/-s3d-demo-view-styles";
@import "./pages/s3d-form";
@import "./pages/-s3d-vr-popup";
@import "./pages/-s3d-slider-popup";
@import "./pages/s3d-flat-gallery-popup";
@import './pages/mob-landscape-s3d-card';
@import './pages/mob-landscape-s3d-floor';
@import './pages/mob-landscape-s3d-flat';
@import './pages/mob-landscape-s3d-controller';
@import './pages/mob-landscape-s3d-plannings';
@import './pages/mob-landscape-s3d-filter';
@import './pages/mob-landscape-s3d-header';
@import './pages/mob-landscape-s3d-infoBoxes';
@import './pages/s3dFlybySideChooser';
@import './pages/mobile-s3d-controller';

@import './components/common/checkbox';
@import './components/common/button-desktop-text-mobile-icon';
