.CompareItem {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
  &__close  {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    transition: .25s ease-out;
    cursor: pointer;
    z-index: 2;
    &:hover {
      transform: rotate(90deg);
    }
  }
  &__table {
    &-row {
      border-bottom: 1px solid var(--border-gray-400);
      padding-left: var(--space-4);
      padding-top: var(--space-2);
      padding-bottom: var(--space-2);
    }
  }
  &__link {
    margin: var(--space-4) ;
  }
  &__img {
    position: relative;
    padding-bottom: 52.5%;
    margin: var(--space-4) ;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}


.mobile {
  .CompareItem {
    background-color: var(--color-surface-gray-200);
    border: 1px solid var(--border-gray-400);
    border-radius: var(--border-space-2);
    &__table {
        overflow-y: auto;
    }
    // overflow-y: auto;
  }
}
