
.FlybyControllerWrapper {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 101;
  pointer-events: none;
  &>* {
    pointer-events: all;
  }

  .FlybyControllerWrapper-filter-call-button {
    position: absolute;
    left: var(--space-4);
    top: calc(var(--s3d-header) + var(--space-1));
  }
  .s3d__compass {
    position: absolute;
    right: var(--space-4);
    top: calc(var(--s3d-header) + var(--space-1));
  
  }
}
.FlybyController {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding: var(--space-4);
  z-index: 100;
  width: calc(180px + var(--space-4) * 2);
  &>:nth-child(n+2) {
    margin-top: var(--space-1);
  }
  &__row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: var(--space-1);
  }
  &>.ButtonWithoutIcon {
    text-align: left;
  }

  .s3dFlybySideChooser {
    .ButtonWithoutIcon {
      padding-top: 3px;
      padding-bottom: 3px; 
    }
  }
}


.tablet,
.mobile {
  .FlybyControllerWrapper-filter-call-button,
  .FlybyController {
    display: none;
  }
}