.MobileNavigationMenu {
  position: fixed;
  bottom: var(--mobile-controller-height);
  left: 50%;
  transform: translateX(-50%);
  z-index: 120;
  padding: var(--space-2);
  background-color: var(--color-surface-gray-200-transperent-88);
  width: 325px;
  border-radius: var(--border-space-3);

  @include elementHidden;
  transition: all 0.3s ease-in-out;

  &.active {
    @include elementVisible;
  }


  display: flex;
  align-items: center;
  gap: var(--space-05);
  flex-wrap: wrap;

  &__title {
    flex-grow: 1;
    padding: var(--space-2) var(--space-3);
  }

  &__close {
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 50%;
    background: var(--color-200-trancperent-88);
    padding: var(--space-2);
    transform: translate(50%, -50%);
    svg {
      width: 24px;
      height: 24px;
    }
  }
  .s3d-ctr__menu-3d-btn-style,
  .ButtonWithoutIcon {
    width: 100%;
  }
  .ButtonWithoutIcon {
    text-align: left;
  }
}

.desktop {
  .MobileNavigationMenu {
    display: none !important;
  }
}